<footer>
  Analysis of the admissions process and resources at 777 different schools in 2019. All data from: <a href="https://www.kaggle.com/datasets/faressayah/college-data"> Kaggle - College Data Set By Fares Sayah</a>
</footer>
