<div>


  <a href= "macro.html" ><div style = "float:left; border: 2px solid black; width: 49.88%">
    <p style = "margin-top: 8px; text-align: center">Macro Page</p>
  </div></a>
  <a href= "../src/about.html" ><div style = "margin-left:50%; float:center; border: 2px solid black;" >
    <p style = "margin-top: 8px; text-align:center">About Page</p>
  </div></a>


</div>
