<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <style>
    .transform_image {
        transform: rotate(270deg);
    }

  </style>
  <!--
  <script src="plotly-2.16.1.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
-->
  </head>
  <!--
  <div>
    <a href= "../docs/macro.html" ><div style = "float:left; border: 2px solid black; width: 49.88%">
      <p style = "margin-top: 8px; text-align: center">Macro Page</p>
    </div></a>
    <a href= "about.html" ><div style = "margin-left:50%; float:center; border: 2px solid black;" >
      <p style = "margin-top: 8px; text-align:center">About Page</p>
    </div></a>
  </div>
-->
  <body>
    <%- include ('global/navbar'); %>
    <%- include ('global/header'); %>
    <!--
    <div id="tester" style="width:600px;height:250px;"></div>
    <script>
          var trace1 = {
        x: [1, 2, 3, 4],
        y: [10, 15, 13, 17],
        mode: 'markers',
        type: 'scatter'
      };

      var trace2 = {
        x: [2, 3, 4, 5],
        y: [16, 5, 11, 9],
        mode: 'lines',
        type: 'scatter'
      };

      var trace3 = {
        x: [1, 2, 3, 4],
        y: [12, 9, 15, 12],
        mode: 'lines+markers',
        type: 'scatter'
      };

      var data = [trace1, trace2, trace3];

      Plotly.newPlot('tester', data);
    </script>
  -->
    <h1>About Our Project</h1>
    <p>Our project focuses on four aspects of the admissions process: applications, acceptances, enrollment, and how many of these students were in the top 25% of their high school. We want to be able to compare the selectivity across all 777 universities. Our project also examines three characteristics of the colleges that can be broadly described as "resources": faculty members with a phd, student to faculty ratio, and expenditure on each student. We want to compare the experience at college past the admissions process since it normally recieves less attention in the news than admissions numbers. Finally, we include each school's graduation rate.
    Generally, we want to see if these admissions statistics and
    the statistics that roughly indicate the quality of the university are correlated.</p>
    <h2>Understanding the data</h2>
    <table>
      <tr>
      <th>Data Dictionary</th>
      </tr>
      <tr>
        <td>apps</td>
        <td>Number of applications received</td>
      </tr>
      <tr>
        <td>accept</td>
        <td>Number of applications accepted</td>
      </tr>
      <tr>
        <td>enroll</td>
        <td>Number of new students enrolled</td>
      </tr>
      <tr>
        <td>top25perc</td>
        <td>Percent of new students from top 25% of H.S. class</td>
      </tr>
      <tr>
        <td>phd</td>
        <td>Percent of faculty with Ph.D.’s</td>
      </tr>
      <tr>
        <td>s_f_ratio</td>
        <td>Student/faculty ratio</td>
      </tr>
      <tr>
        <td>expend</td>
        <td>Instructional expenditure per student</td>
      </tr>
      <tr>
        <td>grad_rate</td>
        <td>Graduation rate</td>
      </tr>
    </table>
    <h2>Our Lofi Prototypes</h2>
    <h4>Oscar's Macro Sketch</h4>
    <img src="macrolofioscar.jpg" alt="Macro Pic">
    <h6>Design Critique:</h6>
    <p>In terms of understandability, the graph I drew isn't that understandable
      without additional information written, as I fail to communicate the details of each axis
    and explain what I'm measuring. In terms of signifiers, ideally I'd make each dot clickable
    and link directly to the micro page, but I don't signify that. In terms of comfort, the space of the
    page is compact and provides a comfortable environment for the user. In terms of privacy, we do a pretty
    good job keeping the information private, as no institutional names are disclosed.</p>

    <h6>Elements Selected:</h6>
    <p>We included the general idea of a single graph which compared admissions and institutional
    statistics. However, we're only considering the admission rate and not other data points.</p>

    <h4>Oscar's Micro Sketch</h4>
    <img src="microlofioscar.jpg" alt="Micro Pic">
    <h6>Design Critique:</h6>
    <p>In terms of understandability, I'd say that my sketch is clear in
      communicating its percentages through the geometric/proportional
      representations on the graph. In terms of signifiers, ideally I'd make each
      individual piece display more data when the user hovers
      over it, but I don't signify that. In terms of comfort, the space of the
      page is compact and provides a comfortable environment for the user. In terms of privacy, we do a pretty
      good job keeping the information private, as we keep the name of the university anonymous.</p>

    <h6>Elements Selected:</h6>
    <p>We included the idea of a bar chart for statistics, however we left out the more complicated graphs
    for feasability's sake.</p>

    <h4>Emmett's Macro Sketch</h4>
    <img src="macrolofiemmett.jpeg" alt="Macro Pic EC">
    <h6>Design Critique:</h6>
    <p>In terms of understandability, my graph has good visibility in that it includes all categories and data. However,
      it does not have the best simplicity because there is a lot of data on the page. Furthermore, the structure is good
      as it separates the admissions criteria from the college specific information about the faculty, etc. The Graduation
      rate is separate from it all because it is very important. Achievability is not great here simply because of the large
      amount of data, but the graphs themselves are not complex. It is Comfortable and well spaced out, includes Signifiers
      for all the maps, and includes Mapping between the data of different colleges.</p>

    <h6>Elements Selected:</h6>
    <p>Included all elements from the data table. I put the admissions categories next to each other and the resources ones next to each other for clarity.</p>

    <h4>Emmett's Micro Sketch</h4>
    <img src="microlofiemmett.jpeg" alt="Micro Pic EC">
    <h6>Design Critique:</h6>
    <p>In terms of understandability, my graph has good visibility because all of the information is included
      and it has better simplicity than my macro graph because there's fewer data points to display. Consistency could be better
      as some of my diagrams are pie charts and others are of different styles. Achievability is decent here, but it might
      be difficult to create the $ graphic with a percentage of it shaded in. It is definitely Comfortable more so than the macro
      too, it has signifiers within each diagram, and there is mapping between the "applications" "acceptance" "enrollment" and
      "graduation" and each bar of the bar chart.</p>

    <h6>Elements Selected:</h6>
    <p>Included all elements from the data except for the top 25% statistic. Different from the macro page, I separated the 3 "resources" categories. The "admissions" categories remain together.</p>

    <h2>Pipeline</h2>

    <p>prebuild(clear out all existing files in public and copy over files from src) --> build(run generateJSON and siteGenerator, generating the macro and micro html files) --> postbuild(starts the server)</p>
    <img src="Flowchart.jpeg" alt="Flow chart">

    <h2>Division of Labor</h2>
    <p>Emmett: generateJSON.js, footer/header/navbar ejs; Oscar: macro/micro ejs, server/transfer js; Together: siteGenerator.js, about.html</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <%- include ('global/footer');  %>
  </body>
</html>
